body {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 0px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.border {
    border: 2px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#circuitArea {
    width: 80vw;
    height: 70vh;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    display: flex;
}

#stateArea {
    height: 100vh;
    width: 20vw;
}

#gatesArea {
    width: 80vw;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

    overflow-x: auto;
    overflow-y: auto;
}

#circuitQbits {
    position: sticky;
    right: 0px;

    width: 75px;
    height: 100%;
}

.trackBackground {
    position: relative;

    width: 100vw;
    height: 75px;

    display: flex;
    align-items: center;

    border-left: 0px;
    border-right: 0px;

    background: #242424;
}

.editBar {
    height: 10px;
    width: calc(100% + 75px);
    position: relative;

    cursor: pointer;

    background-color: #0a0a0a;

    display: flex;
    align-items: center;

    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.editBarLine {
    border: 1px solid #ccc;
    width: 100%;
}

#trackEditBox {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #0a0a0a;
    border-radius: 0px 20px 20px 20px;
    border: 2px solid #ccc;

    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#trackEditBox p {
    cursor: pointer;
    margin: 8px;
}

.qbitInfo {
    height: 75px;
    width: 75px;

    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    background: #242424;
}

.trackLine {
    border: 1px dashed #ccc;
    width: 100%;
    height: 0px;
}

.gate {
    width: 65px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(21 0 146);
    border-radius: 10px;
    border: 3px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    margin: 10px;

    user-select: none;
    cursor: grab;
}

.gate.dragging {
    opacity: 0.5;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(15, 15, 15);
}

.blochDisplay {
    width: 50px;
    height: 50px;
}